body{
  align-items: center;
  background: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
img{
  border-radius: 5px;
}
h1{
  display: flex;
  justify-content: center;
}
h4,h5{
  color: white;
}
input{
  text-align: center;
}
button{
  margin: 5px;
  border-radius: 5px;
  background-color: #092635;
  color: #9EC8B9;
  cursor: pointer;
}

/* Estilos para noticias locales */
.container-news-local{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-search-news-local{
  background: #092635;
  color: #9EC8B9;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.container-all-news-local{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-data-category{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  background: #12372A;
  color: white;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}
.container-buttons-category{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.url-category-local{
  color: #FBFADA;
}

/* Estilos para noticias mundiales */
.container-news-world{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.contianer-title-news-world{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #092635;
  color: #9EC8B9;
  width: 60%;
  border-radius: 5px;
}
.container-news-article-world{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #12372A;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
}
.container-image-and-article-news-world{
  display: flex;
  align-items: center;
}
.url-news-world{
  color: #FBFADA;
}

/* Estilos para seccion de resultados de futbol */
.container-news-soccer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.container-search-results{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #092635;
  color: #9EC8B9;
  width: 60%;
  border-radius: 5px;
}
.container-data-soccer{
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  background-image: url('https://images.alphacoders.com/923/923986.jpg');
  margin-top: 20px;
  border-radius: 5px;
  justify-content: space-between;
}
.container-return{
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-left: 5px;
}
.input-search-soccer{
  text-align: center;
  margin: 5px;
}
.url-results-soccer{
  color: white;
}