img{
  border-radius: 5px;
}
h3,h4,h5{
  color: white;
}

.container-data-soccer{
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
  background-image: url('https://images.alphacoders.com/923/923986.jpg');
  margin-top: 20px;
  border-radius: 5px;
}
.container-search-results{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-return{
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-left: 5px;
}
.input-search-soccer{
  text-align: center;
  margin: 5px;
}
.url-results-soccer{
  color: white;
}